./preprocessed/*
preprocessed
bert2bert.ipynb
finetune_encoder_decoder2.ipynb
test.ipynb
Bert_RNNSummarizer.ipynb
inference.ipynb
trainer.ipynb
models
./models/*
__pycache__
rnn
./rnn/*

bert_test.py
encoder_decoder2.ipynb
preprocess.ipynb
train2.ipynb

